@media (min-width: 576px) {}

@media (min-width: 768px) {
    .textContainer {
        width: 50% !important;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}